    @model CreateProductVM

<div class="row">

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Product</h4>

                <form method="post" enctype="multipart/form-data" class="forms-sample">

                    <div class="form-group">
                        <label asp-for="MainPhoto">Main Photo</label>
                        <input asp-for="MainPhoto" accept="image/*" class="form-control">
                        <span class="text-danger" asp-validation-for="MainPhoto"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Price">Price</label>
                        <input asp-for="Price" class="form-control" placeholder="Price">
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SKU">SKU</label>
                        <input asp-for="SKU" class="form-control" placeholder="SKU">
                        <span class="text-danger" asp-validation-for="SKU"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CategoryId">Category</label>
                        <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name)))">
                            <option selected disabled>Choose Category</option>
                        </select>
                        <span class="text-danger" asp-validation-for="CategoryId"></span>
                    </div>

                    @*                     <div class="form-group">
                            <label asp-for="Photo">Image</label>
                            <input asp-for="Photo" accept="image/*" class="form-control" placeholder="Image">
                            <span class="text-danger" asp-validation-for="Photo"></span>
                        </div> *@

                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <textarea rows="8" asp-for="Description" class="form-control" placeholder="Description"></textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <input type="submit" class="btn btn-primary me-2"></input>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
